{{#if user.username}}
<ul class="nav">
    <li><a href="/users/{{user.username}}">My Page</a></li>
    <li class="dropdown">
        <a href="#"
           class="dropdown-toggle"
           data-toggle="dropdown">
            Comics
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/comics">Browse<i class="pull-right icon-search"></i></a></li>
            <li><a href="/comics/new">New<i class="pull-right icon-plus"></i></a></li>
        </ul>
    </li>
</ul>
{{/if}}
<ul id="login-status-container" class="nav pull-right">
    {{#if user.username}}
    <li><a href="#" id="logout-button">Logout</a></li>
    {{else}}
    <li><a href="#" id="login-button">Login</a></li>
    {{/if}}
</ul>