<table id="comicsList" class="table table-striped">
    <thead>
    <tr>
        <th>
            Info
        </th>
        <th>
            Comic
        </th>
        {{#if user.username}}
        <th>
            Subscribe
        </th>
        {{/if}}
    </tr>
    </thead>
    {{#each comics}}
        {{#withContext ..}}
        {{> partials/comic-browse}}
        {{/withContext}}
    {{/each}}
</table>
<div class="pagination">
    <ul>
        {{#with prev}}
        <li class="{{#if disabled}}disabled{{/if}}"><a href="{{#if disabled}}javascript:void(0){{else}}/comics/p{{page}}{{/if}}">Prev</a></li>
        {{/with}}
        {{#each pages}}
        <li class="{{active}}">
            <a href="/comics/p{{page}}">{{page}}</a>
        </li>
        {{/each}}
        {{#with next}}
        <li class="{{#if disabled}}disabled{{/if}}"><a href="{{#if disabled}}javascript:void(0){{else}}/comics/p{{page}}{{/if}}">Next</a></li>
        {{/with}}
    </ul>
</div>