<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Login</h3>
</div>
<div class="modal-body">
    <form>
        <fieldset class="control-group">
            <p>
                <span id="login-error-container" class="error"></span>&nbsp;
            </p>
            <input id="username-input" type="text" class="input-xlarge" id="username" placeholder="username">
            <input id="password-input" type="password" class="input-xlarge" id="password"
                   placeholder="password">

            <p>
                Or <a href="/newAccount">create an account</a>
            </p>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary" id="login-submit">Login</a>
</div>