<div class="page-header">
    <h1>Register a new comic</h1>
</div>
<div class="row-fluid">
    <div class="span4 well">
        <form id="newcomic">
            <fieldset>
                <h2>Website</h2>
                <div class="control-group">
                    <label class="control-label" for="url">url</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge" id="url" name="url">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">name</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge" id="name" name="name">
                    </div>
                </div>
                <h2>Selectors</h2>
                <div class="control-group">
                    <label class="control-label" for="title">title</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge selector" id="title" name="title">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="image">image</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge selector" id="image" name="image">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="caption">caption</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge selector" id="caption" name="caption">
                    </div>
                </div>
                <div class="form-actions">
                    <a href="#" class="btn btn-primary" id="newComic-submit">Submit</a>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span8">
        <h2>Demo:</h2>
        <div class=" newcomic-demo-container">
        </div>
    </div>

</div>